@import 'reset';

:root {
  --success: #00c675;
}

@import 'page';

.mdc-snackbar {
  #{&}__surface {
    @at-root .is-error#{&} {
      background-color: var(--mdc-theme-error, #333);
    }

    @at-root .is-success#{&} {
      background-color: var(--success, #333);
    }
  }
}

@mixin correct-label() {
  $this: &;

  &#{$this}--focused {
    &:not(#{$this}--disabled) {
      .mdc-floating-label {
        color: rgba(#00c675, 0.87);
      }
    }
  }
}

.mdc-select {
  @include correct-label;
}

.mdc-text-field {
  @include correct-label;
}
